body {
    background-color: #373A40; /* Dark theme background color */
    color: white; /* Dark theme text color */
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.name .fa-infinity {
    position: absolute;
    top: 32px;
    left: 25px;
    color: red;
    animation: icon 2s ease 0s 1 normal forwards;
}

.name h3 {
    position: absolute;
    left: 50px;
    color: white;
    animation: name 2s ease 0s 1 normal forwards;
}

nav {
    background-color: #181818;
    color: white;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu li:hover {
    background-color: #555;
    border-radius: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu li {
    display: flex;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 32px;
    right: 205px;
    animation: serach 2s ease 0s 1 normal forwards;
}

.fa-user-plus {
    position: absolute;
    color: white;
    top: 32px;
    right: 160px;
    animation: user 2s ease 0s 1 normal forwards;
}

/* toggle dark theme */

.theme-icon {
    cursor: pointer;
    position: absolute;
    left: 60px;
    top: 5px;
    font-size: 25px;
    transition: color 0.3s ease; /* Smooth transition */
}

/* Light mode styles */
body.light-mode {
    background-color: #ffffff; /* Light theme background color */
    color: black; /* Light theme text color */
}

body.light-mode a {
    color: rgb(255, 255, 255);
}

body.light-mode .theme-icon {
    color: white; /* Light theme icon color */
}

body.dark-mode .theme-icon {
    color: white; /* Dark theme icon color */
}

/* slider */
.slider-container {
    position: relative;
    height: 199px;
    width: 268px; /* Full width */
    max-width: 800px; /* Maximum width for the slider */
    margin: auto;
    overflow: hidden;
    background-color: #fff; /* Optional: Set a background color */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow for a bordered effect */
}

